body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0px;
  background-color: #ffffff;
}

.container_col_gray1{
  width:70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background: #A9A9A9;
}

.container_col_gray2{
  width:70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background: #f4f4f4;
  padding: 10px;
}

.container_col_gray3{
  width:70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background: #f4f4f4;
  border: 1px solid darkgray;
  padding: 10px;
  padding-left: 40px;
}

.container_col{
  width:70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.container2{
  width:70%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  background:#002147
}

header ul{
  margin:0;
  padding:0;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

header li{
  padding: 5px;
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}


header #logo_left{
  padding-bottom: 0px;
  background-color: #ffffff;
  float: left;
}

header #logo_right{
  padding-bottom: 0px;
  background-color: #ffffff;
  float:right;
}

header #logo_right img{
  width: 130px;
}

header #logo_left img{
  margin-top: 30px;
  width: 230px;
}

header nav{
  float: left;
  margin-top: 5px;
  margin-bottom: 5px
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header .highlight, header .current a{
  color: #f4f4f4;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}



.box{
  text-align: left;
  float: left;
  width: 100%;
  padding: 5px;
}
